In [ ]:

######  Introduction  to Python

## Data types  : Numbers , Strings , Lists , Tuples, Set, Dictionary , Boolean

## Printing

## type

## for Loops (for / while)

## Range

## Operators

## Python functions

## Python list comprehension

## lambda Function

## Method

## Built-in-Function

In [2]:
test_var = 4+5

print(test_var)

9

In [3]:
print("Hello, world!")

Hello, world!

In [4]:
q1 = 5*4

In [5]:
print(q1)

20

In [6]:
print("i love you!")

i love you!

In [7]:
print("ich liebe dich")

ich liebe dich

In [8]:
print(3+4)

7

In [9]:
## TO DO: Set the value of the births_per_min variable

births_per_min =1400
mins_per_hour = 60
hours_per_day = 24


## TODO: Set the value of the births_per_day variable

births_per_day = births_per_min * mins_per_hour * hours_per_day

In [10]:
print (births_per_day)

2016000

In [11]:
##m Numbers

# 1) integers ---> 1, 33, 43, ....  2)floating ---> 2.4 , 3.89 , 21.7 , ....

1+2

3

In [12]:
5 - 7

-2

In [13]:
36 / 6

6.0

In [14]:
15 % 2

1

In [15]:
(3 + 6) - (2 ** 3)

1

In [16]:
## Variable Assignment 
# Can not start with number or special characters

num_of_var= 2
x = 4
y = 3
z = x * y
z

12

In [17]:
## Strings
# A String of Carachters made within '' or " " . separated by , 

a = "talapy"
a[2]

'l'

In [18]:
a[:3]

'tal'

In [19]:
a[2:]

'lapy'

In [20]:
a[1:4]

'ala'

In [21]:
a[: -4]

'ta'

In [22]:
a[-6: -1]

'talap'

In [23]:
b = ('data', 'iran', 'hometown' , 'parents')
b

('data', 'iran', 'hometown', 'parents')

In [24]:
b[0][3]

'a'

In [25]:
b[1:4]

('iran', 'hometown', 'parents')

In [26]:

num= 31
name= 'Tahereh_Parnian'

print('My age is: {}, and my name is: {}' .format(num,name))

My age is: 31, and my name is: Tahereh_Parnian

In [27]:
## List

my_list = [15, 4, 1994, "kermanshah", 'iran', [12,7,1988, 'Ehsan_Ahmadi', ['kermanshah', 'iran']]]

my_list

[15,
 4,
 1994,
 'kermanshah',
 'iran',
 [12, 7, 1988, 'Ehsan_Ahmadi', ['kermanshah', 'iran']]]

In [28]:
my_list[2]

1994

In [29]:
my_list[2]= 1373
my_list[1]= 1
my_list[0]= 26
my_list

[26,
 1,
 1373,
 'kermanshah',
 'iran',
 [12, 7, 1988, 'Ehsan_Ahmadi', ['kermanshah', 'iran']]]

In [30]:
my_list[5][2]= 1367
my_list[5][1]= 4
my_list[5][0]= 21
my_list

[26,
 1,
 1373,
 'kermanshah',
 'iran',
 [21, 4, 1367, 'Ehsan_Ahmadi', ['kermanshah', 'iran']]]

In [31]:
## Nested List

nest= [12, 26, 4, [24, 2, 16,[66, 'Kermanshah', 'iran']]]
nest

[12, 26, 4, [24, 2, 16, [66, 'Kermanshah', 'iran']]]

In [32]:
nest[3][3][1]= 'Wiesbaden'
nest[3][3][2]= 'Germany'
nest

[12, 26, 4, [24, 2, 16, [66, 'Wiesbaden', 'Germany']]]

In [33]:
## add a value to the end of the list  ----> .append()

my_list.append('World')
my_list

[26,
 1,
 1373,
 'kermanshah',
 'iran',
 [21, 4, 1367, 'Ehsan_Ahmadi', ['kermanshah', 'iran']],
 'World']

In [34]:
## add a value to the list with specific index ----> .insert(index, value)

my_list.insert(3, 'Kurd')
my_list

[26,
 1,
 1373,
 'Kurd',
 'kermanshah',
 'iran',
 [21, 4, 1367, 'Ehsan_Ahmadi', ['kermanshah', 'iran']],
 'World']

In [35]:
## Tuple
# In Tupels values are written in () , while in list are written in [] . 
# Tupels is immutable; means we cannot change (line 74) the values and they would be same as defult, while lists' values can change.

my_tuple= (12, 7, 1988, 'Kurd')

my_tuple

(12, 7, 1988, 'Kurd')

In [36]:
my_tuple[3]

'Kurd'

In [50]:
## Set
# In Set values are written in {} , while in Tuple are written  in () and in list are written in [] .
# We cannot have repeated value in set (line 77), while in list it has no problem.
# index doesn't mean anything here and in dictionary

list_1 = [1, 3, 4, 6, 2, 4, 6] 
tuple_1 = (1, 3, 4, 6, 2, 4, 6)
my_set = {1, 3, 4, 6, 2, 4, 6}

list_1

[1, 3, 4, 6, 2, 4, 6]

In [51]:
tuple_1

(1, 3, 4, 6, 2, 4, 6)

In [52]:
my_set

{1, 2, 3, 4, 6}

In [54]:
## add a value to the end of the Set  ----> .add()

my_set.add(12)
my_set

{1, 2, 3, 4, 6, 12}

In [121]:
## How to change the type 

new_set = set(list_1)
new_set

{1, 2, 3, 4, 6}

In [128]:


## The key Difference between set and list is that in set We cannot have repeated value, while in list it has no problem.
## set = {}  ,  list = []  ,  tuple = ()  ,  Dict = {'key' : 'value'}

## The key Difference between tuple and list is that while tuple is immutable, list is mutable(changable). 

## in set and dictionary we don't have Index.

In [129]:
# If you don't know what A method does:
#1

tuple_1.count?

Signature: tuple_1.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [130]:
#or 2

help(tuple_1.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [57]:
#3 Holding shift tab and even +
# How many time the value is reapeated or written? ---> .count(value)

# How many time value 4 is written? count(4)   ---> 2 (twice)

tuple_1.count(4)

2

In [58]:
my_set

{1, 2, 3, 4, 6, 12}

In [59]:

# Dictionary 
# Data is written in {}. --> Dict = {'key' : 'value'}
# Each one has 2 parts, order does not matter and index doesn't mean anything here(line 81).
# keys are called by first part and values are called by second part. 

my_dic = {'key1': 'apple', 'key2': 'banana'}
my_dic

{'key1': 'apple', 'key2': 'banana'}

In [ ]:
my_dic[0] # ---> error

In [61]:
my_dic['key1']

'apple'

In [62]:
my_dic2 = {'a': 'sweet', 'b': 1994 ,'c': [26, 1, [1373]]} 
my_dic2

{'a': 'sweet', 'b': 1994, 'c': [26, 1, [1373]]}

In [63]:
my_dic2 ['c']

[26, 1, [1373]]

In [64]:
my_dic2 ['c'][2]

[1373]

In [65]:
my_dic3= {'Ehsan': [37, 'photographer'] , 'Mahya': [31, 'radiotherapist'] ,'Leila': [40, 'banker']}
my_dic3

{'Ehsan': [37, 'photographer'],
 'Mahya': [31, 'radiotherapist'],
 'Leila': [40, 'banker']}

In [122]:

# Boolean

# Value True / False

True

True

In [ ]:
False

In [123]:
False

False

In [124]:
# Type of True 

type(True)

bool

In [125]:
4>8

False

In [126]:
1<7

True

In [127]:
# Comparible, if, elif, else.

# Comparison Operator
# Checks if 1 is equal to 1.

1 == 1

True

In [70]:
1 <= 4

True

In [71]:
'Hello' == 'Goodbye'

False

In [72]:
#other common comparison operators in Python:
# == → equal
# != → not equal
# < → less than
# > → greater than
# <= → less than or equal
# >= → greater than or equal

In [73]:
'Hi'== 'Hello'

False

In [74]:
'bye'!= 'goodbye'

True

In [75]:
# Logic Operators

(1 > 2) and (2 < 3)

False

In [76]:
(1 > 2) or (2 < 3)

True

In [77]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [78]:
# and → all conditions must be True.
# or → at least one condition must be True.
# not → reverses True ↔ False.

In [79]:
# if,elif, else Statements


if 1 < 2:
    print('Yep!')

Yep!

In [80]:
if 2 < 3:
    print('first')
else:
    print('last')

first

In [81]:
if 2 > 3:
    print('first')
else:
    print('last')

last

In [82]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [83]:
if 1 == 2:
    print('first')
elif 3 != 3:
    print('middle')
else:
    print('Last')

Last

In [84]:
## Data Type in python

In [85]:
my_data3= 2
type(my_data3)

int

In [86]:
my_data4 = '26'
type(my_data4)

str

In [87]:
my_dic3= {'Ehsan': [37, 'photographer'] , 'Mahya': [31, 'radiotherapist'] ,'Leila': [40, 'banker']}
type(my_dic3)

dict

In [88]:
my_data4= 2.6
type(my_data4)

float

In [89]:
my_list = [15, 4, 1994, "kermanshah", 'iran', [12,7,1988, 'Ehsan_Ahmadi', ['kermanshah', 'iran']]]
type(my_list)

list

In [90]:
tuple_1 = (1, 3, 4, 6, 2, 4, 6)
type(tuple_1)

tuple

In [91]:
## How to see which value is unique? we need to change the type to set,
# because set has unique variables and variables cannot be repeated. 

my_new_tuple_1= set(tuple_1)
my_new_tuple_1

{1, 2, 3, 4, 6}

In [92]:
my_set = {1, 3, 4, 6, 2, 4, 6}
type(my_set)

set

In [93]:
## To add a value to set --> .add()

my_set.add(8)
my_set

{1, 2, 3, 4, 6, 8}

In [94]:
## How to change the data type :  = int() / str()

my_data4 = '26'
type(my_data4)

str

In [95]:
new_data = int(my_data4)
type(new_data)

int

In [96]:
new_list = str(my_list)
type(new_list)

str

In [97]:
new_list

"[15, 4, 1994, 'kermanshah', 'iran', [12, 7, 1988, 'Ehsan_Ahmadi', ['kermanshah', 'iran']]]"

In [98]:
my_variable= 10
my_variable

10

In [99]:
my_variable_1= 'dataroadmap'
my_variable_1

'dataroadmap'

In [100]:
my_var= 23+42_9**2
my_var

184064

In [101]:
my_var1= 0
type(my_var1)

int

In [102]:
my_var2= 3.12323
type(my_var2)

float

In [103]:
int(3.99)

3

In [104]:
11/2

5.5

In [105]:
x=4
x

4

In [106]:
x=x/2
x

2.0

In [107]:
string_1= 'Michael Jackson'
string_2= "Michael Jackson"
string_1 == string_2

True

In [108]:
string_3= "1 2 3 4 5 6"
string_3

'1 2 3 4 5 6'

In [109]:
string_4= '@#2_#]&*§%€'
string_4

'@#2_#]&*§%€'

In [110]:
string_1[7]

' '

In [111]:
string_1[9]

'a'

In [112]:
string_3[4]

'3'

In [113]:
string_4[5]

']'

In [114]:
string_4[-3]

'§'

In [115]:
string_1[-12]

'h'

In [116]:
string_1[0]

'M'

In [117]:
string_1[::2]

'McalJcsn'

In [118]:
string_1[2:12:2]

'calJc'

In [119]:
## How many character does the string? 

len('Michael Jackson')

15

In [120]:
len(string_4)

11

In [38]:
## How to add a new string to a string?

string_1= 'Michael Jackson'
statement = string_1 + ' is the best.'
statement

'Michael Jackson is the best.'

In [100]:
# Notebook1_Week_3

## Checking the Python Version

import sys
print(sys.version)

3.13.7 (v3.13.7:bcee1c32211, Aug 14 2025, 19:10:51) [Clang 16.0.0 (clang-1600.0.26.6)]

In [101]:
print('Hello, Python!')

Hello, Python!

In [102]:
print('Hi!')

Hi!

In [103]:
num_1=216.48
type(num_1)

float

In [104]:
num_2= 842
type(num_2)

int

In [105]:
string_22= 'kermanshah iran'
type(string_22)

str

In [106]:
## Converting integers to floats

x = 55
type(x)

int

In [107]:
y = float(x)
type(y)

float

In [108]:
y

55.0

In [109]:
int(1.1)

1

In [110]:
## Converting from strings to integers or floats

int('1')

1

In [ ]:
## A string cannot Convert into an integer 

# int('1 or 2 people')

In [112]:
## Convert the string "1.2" into a float

float('1.2')

1.2

In [113]:
## Converting numbers to strings

str(1)

'1'

In [114]:
str(1.43)

'1.43'

In [115]:
## Boolean

True

True

In [116]:
False

False

In [117]:
type(True)

bool

In [118]:
int(True)

1

In [119]:
int(False)

0

In [120]:
bool(1)

True

In [121]:
bool(0)

False

In [122]:
float(True)

1.0

In [123]:
float(False)

0.0

In [124]:
## Expression

43 + 60 + 16 + 41

160

In [125]:
50 - 60

-10

In [126]:
5*5

25

In [127]:
25/6

4.166666666666667

In [128]:
25%3

1

In [129]:
## Integer division operation expression

25//5

5

In [130]:
25//6

4

In [131]:
30 + 2 * 60

150

In [132]:
(30 + 2) * 60

1920

In [133]:
## Variable
# Store value into variable

x = 43 + 60 + 16 + 41
x

160

In [134]:
y = x/40
y

4.0

In [135]:
## Overwrite variable with new value

x = x/60
x

2.6666666666666665

In [136]:
## Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [137]:
## Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In [138]:
## Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

In [139]:


## Monogram1-week3-notebook2

num=26
name= 'Tala'

print('my age is:{}, and my name is:{}'. format(num,name))

my age is:26, and my name is:Tala

In [140]:
num_1=26
name_1= 'Tala'

print('my age is:{one}, and my name is:{two}'. format(one=num,two=name))

my age is:26, and my name is:Tala

In [141]:
my_list= [2, '32', "Iran",['Home', 'Parents', 22]]
my_list

[2, '32', 'Iran', ['Home', 'Parents', 22]]

In [142]:
my_list.append('sis')
my_list

[2, '32', 'Iran', ['Home', 'Parents', 22], 'sis']

In [143]:
my_list[0]='up'
my_list

['up', '32', 'Iran', ['Home', 'Parents', 22], 'sis']

In [144]:
d = {'one':'Country', 'two': 'Nationality', 'three': 'Birth_year'}
d

{'one': 'Country', 'two': 'Nationality', 'three': 'Birth_year'}

In [145]:
d['two']

'Nationality'

In [146]:
t = (6, 9, 'parnian')
t

(6, 9, 'parnian')

In [147]:
t[2]

'parnian'

In [ ]:
#'tuple' object does not support item assignment

t[2]='Feli' ## Error

In [149]:
s = {1,2,2,2,2,3,4,3,4,2,1,5,7,0,7,45,6,2,4}
s

{0, 1, 2, 3, 4, 5, 6, 7, 45}

In [150]:
1 > 2

False

In [151]:
8789 < 64748

True

In [152]:
345 <= 432

True

In [153]:
765 >= 654

True

In [154]:
233 == 233

True

In [155]:
'sami'== 'samko'

False

In [156]:
(34 < 45) and (76 > 45)

True

In [157]:
(23 < 12) or (54 > 32)

True

In [158]:
(1 == 5) or (32 == 32) or ('tala'=='tahereh')

True

In [159]:
'Tala' == 'tala'

False

In [161]:
if 45 > 32:
    print('yohoo')

yohoo

In [162]:
if 'Tala' == 'tala':
    print('yesss!')
else:
    print('nope!')

nope!

In [163]:
if 7656 > 7656:
    print('First')
elif 'tala' == 'Tala':
    print('Second')
elif 'Ehsan' == 'Ehsan':
    print('Third')
else: print('Nothing')

Third

In [164]:
if 7656 > 7656:
    print('First')
elif'tala' == 'Tala':
    print('Second')
elif 'Ehsan' == 'ehsan':
    print('Third')
else: print('Nothing')

Nothing

In [165]:
## Loops

#for Loops

seq = [1,3,5,7]
for item in(seq):
    print(item)

1
3
5
7

In [166]:
for item in(seq):
    print('YoHOO')

YoHOO
YoHOO
YoHOO
YoHOO

In [167]:
for jelly in(seq):
    print(jelly**2)

1
9
25
49

In [206]:
#' while Loops

n = 8
while n < 12:
    print('n is:{}'.format(n))
    n = n + 1

n is:8
n is:9
n is:10
n is:11

In [172]:
n = 6
while n < 8:
    print('n can be:{}'.format(n))
    n = n + 1

n can be:6
n can be:7

In [205]:
## range with one argument(5)

a = range(5)
type(a)

range

In [197]:
for i in range(5):
    print(i)

0
1
2
3
4

In [198]:
list(a)

[0, 1, 2, 3, 4]

In [201]:
## range with 2 arguments(6 and 16)

b = range(6,16)
list(b)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [203]:
## range with 2 arguments(6 , 16 and 2)
# start with 6 until 16 (16 is excluded),third arguments tells with 2 steps.

c = range(6,16,2)
list(c)

[6, 8, 10, 12, 14]

In [204]:
c = range(6,16,3)
list(c)

[6, 9, 12, 15]

In [208]:
x =[1,2,3,4]
x.append(5)
x

[1, 2, 3, 4, 5]

In [211]:
## list.append() for loop
out= []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25]

In [216]:
## Python functions

def my_func():
    """
    print
    """
    print('dataroadmap')
my_func()

dataroadmap

In [229]:
def my_func_1(a,b):
    """
   adds two numbers.
    """
    print(a+b)

my_func_1(3,5)

8

In [ ]:
## ->| + shift explain what is needed to bring in function

my_func_1()

In [239]:
def my_func(a=10, b=20):
    """
    adds two numbers.
    """
    print(a+b)
    
my_func()

30

In [245]:
def my_func_3(a,b):
    """
    adds two values.
    """
    return(a+b)

In [246]:
my_func_3(3,5)

8

In [47]:
def my_func4(a,b):
    """
    adds two numbers.
    """
    a+b
    return

In [48]:
my_func4(3,5)

In [8]:

# Python List Comprehension 
# Making a list from another list or sequence

x = [1,2,3,4]

In [26]:
out = []
for item in x:
    out.append(item**2)

print(out)

[4, 16, 36, 64]

In [27]:
## We can do it in a shorter way (List Comprehension):

[item**2 for item in x]

[4, 16, 36, 64]

In [33]:
## 2

x_1 = [2,4,6,8]

In [29]:
x_1 = [2,4,6,8]

In [35]:
out_1 = []
for item in x_1:
    out_1.append(item *3-1)
    
print(out_1)

[5, 11, 17, 23]

In [36]:
[item *3-1 for item in x_1]

[5, 11, 17, 23]

In [50]:

## Lambda Expression
# for defining and summarising a function we use lambda

def time2(var):
    return var*2

In [51]:
time2(2)

4

In [52]:
lambda var: var*2

In [40]:
time2(2)

4

In [37]:
def course(var):
    return var**3-4

In [38]:
course(4)

60

In [44]:
## You made a function object

lambda var: var**3-4

In [46]:
## We can give it a value in a separate ()

(lambda var: var**3-4)(6)

212

In [53]:
## Diff between for and List Comprehension and Lambda:

# for is classical and flexible, called line by line.
# you can make any changes within for: print, changing variable, if,...

## Example 1

seq=[1,3,5,7]
for item in(seq):
    print(item)

1
3
5
7

In [55]:
## Example 2

for item in(seq):
    print('YoHOO')

YoHOO
YoHOO
YoHOO
YoHOO

In [56]:
## Example 3

for item in(seq):
    print(item**2)

1
9
25
49

In [57]:
## Example 4

evens = []
for n in range(10):
    if n % 2 == 0:
        evens.append(n)
print(evens)

[0, 2, 4, 6, 8]

In [60]:
## Example 5

odds = []
for n in range(19):
    if n % 3 == 0:
        odds.append(n)
print(odds)

[0, 3, 6, 9, 12, 15, 18]

In [73]:

## list comprehension make a list of a list or sequence;

x=[1,2,3,4]

In [74]:
squares = []
for nums in x:
    squares.append(nums**2)
print(squares)

[1, 4, 9, 16]

In [75]:
## List Comprehension

[nums**2 for nums in x]

[1, 4, 9, 16]

In [77]:
## or

squares = [nums**2 for nums in x]
print(squares)

[1, 4, 9, 16]

In [79]:

## Lambda 
# A no name function which is usually one line
# does'nt make a list, but it defines a function

square = lambda x: x**2
print(square(4))

16

In [83]:
lambda x: x**2 
print

In [84]:
(lambda x: x**2)(4)

16

In [143]:
## Methods 

# list

lst= [1,22,31,14]

In [144]:
lst.sort()
print(lst)

[1, 14, 22, 31]

In [145]:
lst.append(50)
print(lst)

[1, 14, 22, 31, 50]

In [146]:
lst.reverse()
print(lst)

[50, 31, 22, 14, 1]

In [147]:

# String

string= 'Hello World'

In [148]:
string.split()

['Hello', 'World']

In [149]:
string.upper()

'HELLO WORLD'

In [150]:
string.lower()

'hello world'

In [152]:

# Dictionary 

dic = {'a': 1, 'b': 2}

In [153]:
dic.keys()

dict_keys(['a', 'b'])

In [154]:
dic.values()

dict_values([1, 2])

In [155]:
dic.items()

dict_items([('a', 1), ('b', 2)])

In [158]:

# Set

set = {2, 4, 7, 9, 21, 26}

In [160]:
set.add(22)
print(set)

{2, 4, 21, 22, 7, 9, 26}

In [161]:

# Built-in Functions

print('Hi')

Hi

In [162]:
type('hi')

str

In [164]:
len([1,2,5])

3

In [165]:
max([1,2,5])

5

In [166]:
min([1,2,5])

1

In [167]:
sum([1,2,5])

8

In [168]:
sorted([1,6,5])

[1, 5, 6]

In [169]:
range(6)

range(0, 6)

In [174]:
del list

In [175]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [176]:
abs(-8)

8

In [177]:
round(3452,87546787)

3452

In [185]:

# del

x = 10

del x

In [ ]:
#   print(x) ---> name 'x' is not defined

In [187]:

nums = [1,3,5,6]

del nums[3]
print(nums)

[1, 3, 5]

In [188]:

dic = {"a": 1, "b": 2}

del dic["a"]
print(dic)

{'b': 2}

In [200]:

# Defining functions

def my_func(param1= 'default'):
    """
    docstring goes here.
    """
    print(param1)

my_func()
my_func("Hello")

default
Hello

In [ ]:

# Quiz

In [40]:
1 == 2

False

In [203]:
i = 6
i < 5

False

In [204]:
5 != 5

False

In [205]:
'a' == 'A'

False

In [207]:

### Monogram1-week4-notebook1 ###

# Methods # 

st = 'Hello! my name is Samko.'

st.lower()

'hello! my name is samko.'

In [208]:
st.upper()

'HELLO! MY NAME IS SAMKO.'

In [209]:
st.split()

['Hello!', 'my', 'name', 'is', 'Samko.']

In [210]:

tweet = 'Go Sports! #Sports!'
tweet.lower()

'go sports! #sports!'

In [211]:
tweet.upper()

'GO SPORTS! #SPORTS!'

In [212]:
tweet.split()

['Go', 'Sports!', '#Sports!']

In [214]:
tweet.split('#')

['Go Sports! ', 'Sports!']

In [215]:
tweet.split('#')[1]

'Sports!'

In [217]:

lst = [5,1,2,3]
lst.sort()
print(lst)

[1, 2, 3, 5]

In [218]:
'x' in ['x', 'y', 'z']

True

In [219]:
print(st)

Hello! my name is Samko.